<div class="row">
    <div class="col-sm-5">
      	<a href="/articles">
	      <h1>Hoang's Blog</h1>
	    </a>
    </div>
    <div class="col-sm-3">
      	<%= link_to 'New Article', new_article_path, class: 'btn btn-success pull-right' %>
    </div>
</div>